<!DOCTYPE html>
<html>
<head>
  <title>TENKI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="<%= asset_path "keyframes.css" %>">
   <link href="<%= asset_path "pageTransitions.css" %>" >

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href= <%="stylesheets/stylish-portfolio.css"%> rel="stylesheet">

    <!-- Custom Fonts -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

<%= render "layouts/navbar" %>

<%= yield %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <!-- Animation Scripts -->
    <script src="jquery.smoothState.js"></script>
    <script src="functions.js"></script>

</body>
</html>
